.header{
    height: 300px;
    width: 1000px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
}
.nav{
    height: 50px;
    width: 1000px;
    background-color: green;
    margin-left: auto;
    margin-right: auto;

}

ul{

}
li{
    padding: 5px;
    display: inline-block;
}
.container{
    width: 1000px;
    height: auto;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
img {
    width: 300px;
    height: auto;
}
.para{
    float: left;
    width: 290px;
    height: auto;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-left: 12px;

}
.intro{
    padding-right: 20px;
    margin-left: 20px;

}
.info{
    display: inline-block;
    width: inherit;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}
.images{
    display: inline-block;
    width: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;


}
.pic{
    padding-right:25px;
    padding-left:25px;
    margin-left:10px;
    margin-right:10px;
    float: left;
    width: 250px;
    height: auto;
    overflow: hidden;
}
.pic p{
    padding: 2px;
    margin: 5px;
    width: inherit;
    font-style: italic;



}
